$primary-background-color: #190219;
$secondary-background-color: #440342;

$primary-color: #FFB200;
$secondary-color: #EB5B00;

$player-1: #E7FF17;
$player-2: #3EFF17;
$player-3: #172AFF;
$player-4: #FF171B;

@mixin button-style {
  appearance: none; 
  background-color: $secondary-color; 
  border-radius: 10px; 
  padding: 0 16px; 
  margin: 10px;
  color: white; 
  font-size: 1.5rem;
  text-align: center; 
  cursor: pointer;
  box-shadow: 6px 6px 1px #ca4e00e7;
  &:hover {
    background-color: $primary-color;
  }
}

@mixin players-style($color) {
  width: 130px;
  appearance: none; 
  border: solid 2px $color;
  background-color: #fcfcfc24; 
  border-radius: 10px; 
  padding: 8px 16px; 
  margin: 10px;
  color: white; 
  font-size: 1rem; 
  text-align: center;
  cursor: pointer; 
}