@import '../../_variables.scss';

.message-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70vw;
  height: auto;
  background-color: $primary-color;
  padding: 20px;
  border-radius: 20px;
  text-align: center;

  .message-title {
    margin-bottom: 15px;
    color: $secondary-color;
    @media (max-width: 768px) {
      font-size: 2rem;
    }
  }

  .message-text {
    font-size: 1rem;
    margin-left: 20px;
    margin-bottom: 10px;
    @media (max-width: 768px) {
      font-size: 0.8rem;
    }
  }

  .message-winner {
    font-size: 3rem;
    margin-left: 20px;
    margin-bottom: 10px;
    @media (max-width: 768px) {
      font-size: 2rem;
    }
  }

  .button-restart {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-55%);
    @include button-style;
    font-size: 1.2rem;
    height: 50px;
    width: 135px;
    @media (max-width: 768px) {
      width: 70%;
    }
  }
}